---
layout: base.template.njk
title: Eleventy with Vite
url: about
---
This website consists of the following technologies

- eleventy
- nunjucks
- TS
- TDD
- Jest
- ESLint
- Prettier
- atomic design
- nodejs
- lighthouse performance
- darkmode