{% set css = params.css or params.class %}

{# {% set aria_label = 'aria_label="' ~ params.aria_label ~ '"' if params.aria_label is defined else "" %} #}

{% if params.url %}
    <a 
        rel="noopener noreferrer"
        data-component-type="atom" 
        data-component="link" 
        {{aria_label | safe }}
    
    {% if params.target is defined %}
        target="{{params.target}}"
    {% endif %} 
    class="{{ css }} {{params.class_modifier}}" href="{{ params.url | url | safe}}"
    >
    {{ params.text }}
    {% if params.post_html %}
        {{params.post_html | safe}}
    {% endif %}
</a>
{% endif %}