{% set main = params.main %}
{% set config = params.config %}

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">{{ config.year }} {{main.footer.text }}</span><br />
    </div>
</footer>