/** https://www.w3schools.com/howto/howto_css_contact_chips.asp **/
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #333;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.7);
  }
.chip.chip--small{
  padding: 0 13px;
  height: 15px;
  font-size: 10px;
  line-height: 15px;
  border-radius: 5px;
}
.chip:hover,
.chip:active,
.chip:focus {
  border-color: #e0e0e0;
}
.chip{
  border-color: green;
}
